body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #F8DDC5, #E9DBCF, #D8D9DA, #CCD7E2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 960vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 30%;
	}
	20% {
		background-position: 30% 60%;
	}
	40% {
		background-position: 60% 90%;
	}
  50% {
		background-position: 90% 100%;
	}
  60% {
		background-position: 100% 90%;
	}
  80% {
		background-position: 90% 60%;
	}
  100% {
		background-position: 60% 30%;
	}
}
